<div id="container">
  <div class="account-fields">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" class="username-input">
    <label for="password">Password</label>
    <input type="text" id="password" name="password" class="password-input">
  
    <button id="sign-up-button">Sign Up</button>

    <div class="rules-container">
      <ul>
        <li>Username can't be less than 3 characters</li>
        <li>Username can't be more than 10 characters</li>
        <li>Username can't contain special characters</li>
      </ul>
    </div>
  </div>
</div>
