<div id="container">
  <div class="account-fields">
    <label for="username">Username</label>
    <input type="text" id="username" name="username">
    <p class="username-message"></p>
    <label for="password">Password</label>
    <input type="text" id="password" name="password">
    <p class="password-message"></p>

    <button id="sign-up-button"><%- buttonTitle %></button>
  </div>
</div>
