<nav>
  <!-- <div class="header-links-container"> -->
    <ul class="header-links">
      <li><a href="/">Home</a></li>
      <li><a href="/blogCreation">Blog Creation</a></li>
      <li class="header-links-account">
        Username
      </li>
    </ul>


    <!-- <ul class="header-links-account">
      <li>asdf</li>
    </ul> -->
  <!-- </div> -->
</nav>
