<nav>
  <ul class="header-links">
    <li><a href="/">Home</a></li>
    <li><a href="/blogCreation">Blog Creation</a></li>

    <li class="account-information-container">
      <span class="username">Username</span>
    </li>
  </ul>
</nav>
