body {
  background-color: moccasin;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: hsla(224, 75%, 44%, 0.8);
  margin: 0;
  padding: 0;
}

.header-links {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
}

.header-links > li > a {
  text-decoration: none;
  color: white;
}

.header-links > li {
  padding: 1vh;
  cursor: pointer;
}

.header-links > li:hover {
  padding: 1vh;
  background-color: hsla(224, 100%, 57%, 0.8);
}

.account-information {
  display: inline;
}

button {
  cursor: pointer;
}

.user-blog-title-informer, .user-blog-content-informer {
  color: red;
}

.header-links .header-links-account {
  align-self: center;
}

.blogs-container {
  list-style-type: none;
  padding: 0;
}

.blogs-container li {
  background-color: white;
  padding: 1vh;
  margin-bottom: 1vh;
  word-wrap: break-word;
}

.blogs-container li:hover {
  cursor: pointer;
}